SNAPI.Net/.vs/SNAPI.Net/xs/project-cache/SNAPI.Net-Release.json
SNAPI.Net/SNAPI.Net/bin/Release/net6.0/SNAPI.Net.deps.json
SNAPI.Net/SNAPI.Net/bin/Release/net6.0/SNAPI.Net.dll
SNAPI.Net/SNAPI.Net/bin/Release/net6.0/SNAPI.Net.pdb
SNAPI.Net/SNAPI.Net/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SNAPI.Net/SNAPI.Net/obj/Release/net6.0/SNAPI.Net.AssemblyInfo.cs
SNAPI.Net/SNAPI.Net/obj/Release/net6.0/SNAPI.Net.AssemblyInfoInputs.cache
SNAPI.Net/SNAPI.Net/obj/Release/net6.0/SNAPI.Net.assets.cache
SNAPI.Net/SNAPI.Net/obj/Release/net6.0/SNAPI.Net.csproj.AssemblyReference.cache
SNAPI.Net/SNAPI.Net/obj/Release/net6.0/SNAPI.Net.csproj.CoreCompileInputs.cache
SNAPI.Net/SNAPI.Net/obj/Release/net6.0/SNAPI.Net.csproj.FileListAbsolute.txt
SNAPI.Net/SNAPI.Net/obj/Release/net6.0/SNAPI.Net.GeneratedMSBuildEditorConfig.editorconfig
SNAPI.Net/SNAPI.Net/obj/Release/net6.0/SNAPI.Net.GlobalUsings.g.cs
